{% extends 'layout_page.twig' %}

{% set page = 'files' %}

{% block title %}GitList | {{repo}}{% endblock %}

{% block content %}
    {% embed 'breadcrumb.twig' with {breadcrumbs: breadcrumbs} %}
    {% endembed %}

    {% if results %}
    <table class="tree">
        <thead>
            <tr>
                <th width="20%">name</th>
                <th width="80%">match</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td><i class="icon-file icon-spaced"></i> <a href="{{ path('blob', {repo: repo, branch: branch, file: result.file, commitishPath: branch ~ '/' ~ result.file}) }}#L{{ result.line }}">{{ result.file }}</a></td>
                <td>{{ result.match }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No se han encontrado resultados.</p>
    {% endif %}

    <hr />
{% endblock %}
