{% extends 'layout_page.twig' %}

{% set page = 'stats' %}

{% block title %}GitList | {{repo}}{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Statistics', path:''}]} %}

	<div class="table-border hidden-xs">
        <table class="table stats">
            <thead>
                <tr>
                    <th width="30%"><span class="fa fa-file-text"></span> Extensiones de archivo ({{ stats.extensions|length }})</th>
                    <th width="40%"><span class="fa fa-users"></span> Autores ({{ authors|length }})</th>
                    <th width="30%"><span class="fa fa-star"></span> Otros</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                        {% for ext, amount in stats.extensions %}
                            <li><strong>{{ ext }}</strong>: {{ amount }} Archivos</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                        {% for author in authors %}
                            <li><strong><a href="mailto:{{ author.email }}">{{ author.name }}</a></strong>: {{ author.commits }} commits</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <p>
                            <strong>Total Archivos:</strong> {{ stats.files }}
                        </p>
     
                        <p>
                            <strong>Total bytes:</strong> {{ stats.size }} bytes ({{ ((stats.size / 1024) / 1024) | number_format }} MB)
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default visible-xs">
        <div class="panel-heading bold"><span class="fa fa-file-text"></span> Extensiones de archivo ({{ stats.extensions|length }})</div>
        <div class="panel-body">
            <ul>
            {% for ext, amount in stats.extensions %}
                <li><strong>{{ ext }}</strong>: {{ amount }} Archivos</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default visible-xs">
        <div class="panel-heading bold"><span class="fa fa-users"></span> Autores ({{ authors|length }})</div>
        <div class="panel-body">
            <ul>
            {% for author in authors %}
                <li><strong><a href="mailto:{{ author.email }}">{{ author.name }}</a></strong>: {{ author.commits }} commits</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default visible-xs">
        <div class="panel-heading bold"><span class="fa fa-star"></span> Otros</div>
        <div class="panel-body">
            <p>
                <strong>Total Archivos:</strong> {{ stats.files }}
            </p>
     	    
            <p>
                <strong>Total bytes:</strong> {{ stats.size }} bytes ({{ ((stats.size / 1024) / 1024) | number_format }} MB)
            </p>
        </div>
    </div>

    <hr />
{% endblock %}
